<table class="table is-hoverable is-narrow is-fullwidth is-pointer-table">
  <thead>
    <tr>
      <th width="50">#</th>
      <th>Названия</th>
      <th width="80"></th>
      <th width="50"></th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="sourse?.length; else noData">
      <tr *ngFor="let test of sourse; let i = index" (dblclick)="onEdit(test)">
        <td>{{ i + 1 }}</td>
        <td>{{ test.name }}</td>
        <td>
          <button class="button is-primary is-small" title="Варианты" (click)="onOpenVariants(i)">
            <span class="icon">
              <i class="fas fa-list-check"></i>
            </span>
            <span>Варианты</span>
          </button>
        </td>
        <td>
          <button class="button is-outlined is-danger is-small" title="remove" (click)="onDelete(test)">
            <span class="icon">
              <i class="fas fa-remove"></i>
            </span>
          </button>
        </td>
      </tr>
    </ng-container>
    <ng-template #noData>
      <tr>
        <td colspan="4" class="has-text-danger">Данные не найдены.</td>
      </tr>
    </ng-template>
  </tbody>
</table>
