<div class="srp-auth-login">
  <form class="box" [formGroup]="applyingForm" (ngSubmit)="onSubmit()">
    <p class="title has-text-primary">Восстановление пароля</p>
    <div class="field">
      <label class="label">Новый пароль</label>
      <div class="control has-icons-left">
        <input class="input" type="password" formControlName="newPassword" placeholder="******" />
        <div *ngIf="newPassword.errors">
          <div *ngIf="newPassword.errors['required'] && (newPassword.touched || submitted)" class="help is-danger">
            Введите пароль.
          </div>
          <div
            *ngIf="newPassword.errors?.invalidPassword && submitted && (newPassword.touched || newPassword.dirty)"
            class="help is-danger">
            Пароль должен состоять минимум из: <br />
            8 символов, 1 заглавная буква, 1 строчная буква и 1 цифра
          </div>
        </div>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <label class="label">Подтверждения пароля</label>
      <div class="control has-icons-left">
        <input class="input" type="password" formControlName="confirmPassword" placeholder="******" />
        <div *ngIf="passwordMatchError && (confirmPassword.touched || submitted)" class="help is-danger">
          Не совпадает с текущим паролем
        </div>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>
    <srp-loader [templateRef]="resetBtn"></srp-loader>
  </form>
</div>

<ng-template #resetBtn>
  <div class="is-flex is-justify-content-end">
    <button class="button is-primary" type="submit" (submit)="onSubmit()">Восстановить</button>
  </div>
</ng-template>
