<div class="modal-card-head">
  <p class="modal-card-title">
    <span class="is-size-4">Изменить пароль</span>
  </p>
  <a (click)="onClose()">
    <span class="icon has-text-dark">
      <i class="fas fa-lg fa-solid fa-xmark" aria-hidden="true"></i>
    </span>
  </a>
</div>

<section class="modal-card-body" [formGroup]="form">
  <div class="field">
    <label class="label">Старый пароль</label>
    <div class="control has-icons-left">
      <input class="input" type="password" formControlName="currentPassword" placeholder="******" />
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
      <div *ngIf="currentPassword.errors">
        <div
          *ngIf="currentPassword.errors['required'] && (currentPassword.touched || submitted)"
          class="help is-danger">
          Введите пароль.
        </div>
        <div
          *ngIf="
            currentPassword.errors?.invalidPassword && submitted && (currentPassword.touched || currentPassword.dirty)
          "
          class="help is-danger">
          Пароль должен состоять минимум из: <br />
          8 символов, 1 заглавная буква, 1 строчная буква и 1 цифра
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Новый пароль</label>
    <div class="control has-icons-left">
      <input class="input" type="password" formControlName="newPassword" placeholder="******" />
      <div *ngIf="newPassword.errors">
        <div *ngIf="newPassword.errors['required'] && (newPassword.touched || submitted)" class="help is-danger">
          Введите пароль.
        </div>
        <div
          *ngIf="newPassword.errors?.invalidPassword && submitted && (newPassword.touched || newPassword.dirty)"
          class="help is-danger">
          Пароль должен состоять минимум из: <br />
          8 символов, 1 заглавная буква, 1 строчная буква и 1 цифра
        </div>
      </div>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Подтверждения пароля</label>
    <div class="control has-icons-left">
      <input class="input" type="password" formControlName="confirmPassword" placeholder="******" />
      <div *ngIf="passwordMatchError && (confirmPassword.touched || submitted)" class="help is-danger">
        Не совпадает с текущим паролем
      </div>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>
  <div class="field is-narrow">
    <p class="control is-flex is-justify-content-end p-2 has-background-white">
      <button type="submit" class="button is-primary" style="margin-right: 15px" (click)="onSubmit()">Сохранить</button>
    </p>
  </div>
</section>
