.srp-account {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.beta-div {
    position: absolute;
    top: -20px;
    width: 100%;
    display: flex;
    justify-content: center;
}